# torch
# torchvision
# torchaudio
numpy
numba
torchtyping
tqdm
scipy
scikit-learn
librosa
pyyaml
pyworld
pyopenjtalk
onnxruntime
tensorboard
matplotlib
PyWavelets
git+https://github.com/y-chan/pytorch_wavelets#e17a086
git+https://github.com/lucidrains/lion-pytorch#ee26e32
